html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("images/1.jpg"); /* Укажите путь к вашему файлу */
    background-repeat: no-repeat; /* Чтобы изображение не повторялось */
    background-size: cover; /* Чтобы изображение покрывало весь фон */
    background-position: center; /* Центрировать изображение */
    background-attachment: fixed; /* Закрепить фон при прокрутке */
   
  }


/*
display: flex;
flex-direction: row;
*/

.image-text {
  float: left; /* или float: right; */
   /* Отступы со всех сторон */
  /* Или можно задать отступы по отдельности:
     margin-right: 10px;
     margin-bottom: 10px; */
}

.glow-on-hover {
    width: 220px;
    height: 50px;
	margin:20px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
	
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
	
}

.glow-on-hover:active {
    color: #000;
	
}

.glow-on-hover:active:after {
    background: transparent;
	
}

.glow-on-hover:hover:before {
    opacity: 1;
	
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#div_verh{
width:1000px;
height:250px;
float:center;

margin: 0 auto;

}

#div_center{
width:1200px;
height: 3000px;

margin: 0 auto;
background-color: rgba(0, 0, 0, 0.7);
}


#AudioBook{
width:1150px;
height:200px;

margin-left:20px ;
}



#div_knopki{
width:1100px;
height:auto 100%;

margin-left: 40px;
}





#div_kniga{
width:1150px;
height:2000px;

float:left;
margin-left: 20px;
margin-top: 20px;
}

#div_kniga_left{
width:200px;
height:auto 100%;

float:left;
}

#div_kniga_center{
width:250px;
height:auto 100%;

float:left;
margin-left:20px;
}

#div_kniga_right{
width:650px;
height:auto 100%;

float:left;
margin-left:20px;

}




/* начало кард */



* {
   box-sizing: border-box;
}
.product-wrap {
   width: 200px;
   margin:0;
   margin-left:30px;
   margin-top:30px;
   background: #FDF5E6;
   padding: 0 0 20px;
   text-align: center;
   font-size: 14px;
   font-family: Lora;
   text-transform: uppercase;
   float: left;
   
}
.product-item {
   position: relative;
   overflow: hidden;
}
.product-wrap img {
   display: block;
   width: 100%;
}
.product-buttons {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, .8);
   opacity: 0;
   transition: .3s ease-in-out;
}
.button {
   text-decoration: none;
   color: #C0C030;
   font-size: 12px;
   width: 140px;
   height: 40px;
   line-height: 40px;
   position: absolute;
   top: 50%;
   left: 50%;
   border: 2px solid #c0a97a;
   transform: translate(-50%, -50%) scale(0);
   transition: .3s ease-in-out;
}

.product-item:hover .product-buttons {
   opacity: 1;
}
.product-item:hover .button {
   transform: translate(-50%, -50%) scale(1);
}
.button:hover {
   background: black;
}
.product-title {
   color: #C0C030;
}
.product-title a {
   text-decoration: none;
   color: #2e2e2e;
   font-weight: 600;
   margin: 15px 0 5px;
   padding-bottom: 7px;
   display: block;
   position: relative;
   transition: .3s ease-in-out;
}
.product-title a:after {
   content: "";
   position: absolute;
   width: 40px;
   height: 2px;
   background: #2e2e2e;
   left: 50%;
   margin-left: -20px;
   bottom: 0;
   transition: .3s ease-in-out;
}
.product-title a:hover {
   color: #C0C030;
}
.product-title:hover a:after {
   background: #c0a97a;
}
.product-price {
   font-size: 20px;
   color: #c0a97a;
   font-weight: 700;
}



/* конец кард */
